.todo {
  padding: 0.5rem;
}

.link {
  color: palevioletred;
}

.edit {
  color: palevioletred;
  margin: 0 0.5rem;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 0 0.5rem;
}

.delete {
  color: crimson;
  cursor: pointer;
}
